.DS_Store
.idea
data
node_modules
**/npm-debug.log
.env
.env.local
testdata.json
*venv
**/logs/*
certs/*
**/__pycache__
README.md
Makefile
api-gateay/eslint.json
service/pylintrc
service/pylintdict.txt
service/tox.ini
dotenv.sh
.git
.gitignore
.gitlab-ci.yml
docker-compose.yml